* {
  margin: 0;
  padding: 0; }

header {
  background-color: white;
  width: 100%;
  height: 100%; }

h1 {
  color: black; }

nav {
  background-color: #0a0a0a;
  text-align: right;
  font-family: 'Arsenal&family';
  font-size: 40px; }

a {
  font-size: 20px;
  color: white; }

main {
  background-color: #2ce99a;
  color: #132526;
  display: block;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 100%;
  text-align: center; }

footer {
  color: #132526;
  background-color: #1de692;
  font-style: italic;
  text-align: center;
  margin-top: 100px; }

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: end;
  display: flex; }

button {
  background-color: #261313;
  color: white;
  font-size: 15px;
  display: inline;
  position: relative;
  opacity: 95%;
  background-image: linear-gradient(red, yellow);
  border-radius: 200px;
  align-items: center; }

table {
  border-collapse: separate;
  border-spacing: 10px;
  background: #132526;
  border: 2px;
  background-color: #132526;
  color: white;
  line-height: 1.5; }

td {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: 2px solid white;
  border-spacing: 0;
  border-style: inset; }

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(#f84949), #1d130c; }

img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%; }

form {
  background-color: #061a1b;
  border-radius: 3px;
  color: #b2e7d5;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  text-align: center;
  opacity: 90%;
  background-image: linear-gradient(#010707, #27b17c);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  transition: all 2s; }

#grilla {
  display: grid; }

#img {
  width: 100%;
  height: 100%; }

#comprar {
  position: sticky;
  top: 20px;
  text-align: center; }

@media only screen and (max-width: 600px) {
  #grilla {
    height: 98%;
    grid-template-columns: 95%;
    grid-template-rows: 300px 300px 400px 300px 300px 400px;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6";
    align-content: space-between;
    justify-content: center; } }

@media only screen and (min-width: 601px) {
  ul {
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    transition: all 2s; }
  #grilla {
    height: 100%;
    grid-template-columns: 70% 50%;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: "foto1 foto2 " "foto3 foto4" "foto5 foto6";
    justify-content: space-evenly;
    align-content: space-between; } }

#imgindex {
  transition: all 2s; }

#imggallery {
  transition: all 2s; }

#imgtour {
  transition: all 2s; }
